/*----------- TELA HOME ------------*/

.mae
{
    background-color: white;
    top: 0;
    left: 0;
}


.tpfix 
{
    position: fixed;
    height: 14%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #1ABC9C;
    display: flex;
    align-items: center;
    margin-bottom: 200px;
}


.tpfix2
{
    position: fixed;
    height: 5%;
    width: 100%;
    top: 14%;
    background-color: black;
    color: #1ABC9C;
}

.icon_menu_home
{
    margin-left: 20px;    
}

.botoes 
{
    margin-left: ;
}

.prod
{
    cursor: pointer;
    font-family: Georgia;
    text-decoration: none;
    font-size: 22px;
}

/*a.home1:active,
a.home1:hover,
a.home1:visited,
a.home1:link
{
    color: #1ABC9C;
}

a.desen:active,
a.desen:hover,
a.desen:visited,
a.desen:link
{
    color: #1ABC9C;
}

a.quem:active,
a.quem:hover,
a.quem:visited,
a.quem:link
{
    color: #1ABC9C;
}*/

a.prod:active,
a.prod:hover,
a.prod:visited,
a.prod:link
{
    color: #1ABC9C;
}



.icon_menu_login
{
   
    margin: 0 15px;
    cursor: pointer; /*mudar o ponteiro do mouse*/
}

.icon_menu_sacola
{
    cursor: pointer; /*mudar o ponteiro do mouse*/
}

#icons_home
{
    text-align: center;
    margin-left: 410px;
}
  
#titulo_home
{
    margin-left: 580px;
    font-family: Georgia;
    font-size: 28px;
    cursor: pointer;
}




footer /*rodapé*/
{
    position: fixed;
    bottom: 0;
    background-color: black;
    color: #1ABC9C;
    width: 100%;
    height: 5%;    
    text-align: center;
    left: 0;
    align-items: center
}

/*----------- TELA DE LOGIN ------------*/

#login 
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 115vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#titulo_login
{
    margin-left: 550px;
    font-family: Georgia;
    font-size: 28px;
    cursor: pointer;
}

#icons_login
{
    text-align: center;
    margin-left: 400px;
}

.card 
{
    background-color: #1ABC9C;
    padding: 40px;
    border-radius: 2px;
    width:280px;
}

.card-header_login 
{
    padding-bottom: 30px;
    opacity: 0.8;
    color: #fff;
}

.card-header_login:after 
{
    content: "";
    width: 70px; /*linha embaixo*/
    height: 1px;
    background-color: #fff;
    display: block;
    margin-top: -17px;
    margin-left: 105px;
}

.card-content_login label 
{
    color: #fff;
    font-size: 20px;
    opacity: 0.8;
}

.card-content-area_login
{
    display: flex;
    flex-direction: column;
    padding:10px 0;
}

.card-content-area_login input 
{
    margin-top: 10px;
    padding:0 5px;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #e1e1e1;
    outline: none;
    color: #fff;
}

.card-footer 
{
    display: flex;
    flex-direction: column;
}

.card-footer .submit
{
    width: 100%;
    height: 40px;
    background-color: black;
    border:none;
    color:#e1e1e1;
    margin: 10px 0;
}

.card-footer a 
{
    text-align: center;
    font-size: 20px;
    opacity: 0.8;
    color: #fff;
    text-decoration: none;   
}


/*----------- TELA DE CADASTRO ------------*/

.cadastro
{
    margin-top: 120px;
    width: 60%;
    background-color: #1ABC9C;
    margin-left: 20%;
}

.escrito_cadastro 
{
    opacity: 0.8;
    color: #fff;
    margin-left: 350px;
    font-size: 17px;
}

.escrito_cadastro:after 
{
    content: "";
    width: 100px; /*linha embaixo*/
    height: 1px;
    background-color: #fff;
    display: block;
    margin-top: -17px;
    margin-left: 0px;
}

.centralizar_cadastro
{
}

.labels
{
    color: #fff;
    font-size: 17px;
}


/*----------- TELA DE LOCAL ------------*/

.tpfix2_local
{
    position: fixed;
    height: 5%;
    width: 100%;
    top: 14%;
    left: 0;
    background-color: black;
    display: flex;
    align-items: center;
    color: #1ABC9C;
    text-align: center;
}

.frase_local
{
    margin-left: 471px;
    font-size: 18px;
}

.mapa
{
    margin-top: 140px;
    width: 30%;
}

/*----------- TELA DE TABELA PRODUTO ADM ------------*/
.pesquisa
{
    margin-top: 150px;
    margin-left: 400px;
    border-radius: 5px;
    background-color: #1ABC9C;
    width: 500px;
    height: 35px;
    
}

.pesquisa2
{
    padding:4 10px;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #fff;
    outline: none;
    color: white;
    margin-top: -25px;
}

.icon_pesquisa
{
    margin-left: 450px
}

.table 
{
    margin-top: 30px;
    margin-left: 25%;
    width: 700px;
    display:grid;
    margin-bottom: 5%;
}

.row 
{
    display:block;
}

.celula
{
    display:inline-block;
    padding: 5px 5px;
    margin-bottom: .5%;
    background-color: #1ABC9C;
    font-size: 12pt;
}
.cellHeader 
{
    text-align: center !important;
}

.celulacod 
{
    width:100px;
}

.celulanome
{
    width:300px;
}


.celulapreco
{
    width:60px; 
    text-align:right;
}

.celulaacoes
{
    width:105px;
}

.erro
{
    margin-left: 565px;
}

.content_tabela_produto
{
    
}
/*----------- TELA DE USUARIO ------------*/

.table_usuario
{
    margin-top: 30px;
    margin-left: 10%;
    width: 1200px;
    display:grid;
    margin-bottom: 5%;
}

.row_usuario
{
    display:block;
}

.celula_usuario
{
    display:inline-block;
    padding: 5px 5px;
    margin-bottom: .5%;
    background-color: #1ABC9C;
    font-size: 12pt;
}
.cellHeader_usuario
{
    text-align: center !important;
}

.celulaid_usuario 
{
    width:80px;
}

.celulanome_usuario
{
    width:200px;
}


.celulaemail
{
    width:300px; 
}

.celulatelefone
{
    width:150px; 
}

.celulacpf
{
    width:150px; 
}

.celulaacoes_usuario
{
    width:105px;
}

/*----------- TELA EXCLUSAO USER ------------*/
.forms
{
    margin-top: 150px;
}

/*----------- TELA SELEÇÃO PRODUTO ------------*/
.divproduto
{
    display:grid; 
    grid-template-columns: repeat(3,300px); 
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.cada_prod
{
    text-align:center;  
    width: 300px;
    background-color: #1ABC9C;
    border-radius: 10px;
    font-family: Georgia;
    font-size: 15px;
    border-radius: 20px;
    border: solid 3px black;
    box-shadow: 10px 13px 18px -1px rgba(0,0,0,0.58);
}

.content
{
    margin-top: 10%;
    margin-left: 20%;
}

/*----------- TELA SELEÇÃO DETALHES PRODUTO ------------*/
.detalhes_produtos
{
    margin-left: 30%;
    margin-top: 12%;
    width: 500px;
    background-color: #1ABC9C;
    border-radius: 10px;
    font-family: Georgia;
    font-size: 15px;
    text-align: center;
}

/*----------- TELA EXCLUSAO PRODUTO ------------*/
.content_exclusao_produto
{
    background-color: #1ABC9C;
    margin-left: 30%;
    margin-top: 12%;
    width: 500px;
}

/*----------- TELA SELEÇÃO DETALHES PRODUTO ------------*/
.detalhes_produtos
{
    margin-left: 30%;
    margin-top: 2%;
    width: 500px;
    background-color: #1ABC9C;
    border-radius: 10px;
    font-family: Arial;
    font-size: 15px;
    text-align: center;
}
/**-------------- BOTÕES DE COMPRAR DOS PRODUTOS -------------------*/
#link:link{
    background-color: beige;
    color: black;
    border: 2px solid;
    border-radius: 7px;
    text-align: center;
    padding: 10px 5%;
    text-decoration: none;
}

#link:hover {
    background-color:#006d40;
    color: black;
    border: 1px solid;
    border-radius: 7px;
    text-align: center;
    padding: 6px 3%;
    font-size: 20px;
    text-decoration: underline;
    transition: 0.3s;
}

#link:active {
    background-color: #006d40;
    color: black;
    border: 1px solid;
    border-radius: 7px;
    text-align: center;
    padding: 6px 3%;
    text-decoration: none;
}

#link:visited {                             
    background-color: darkred;  /*não foi colocado uma cor diferente pois estava dando problema com os clicks no "voltar ao topo"*/
    color: #ECE5C7;
    border: 1px solid;
    border-radius: 7px;
    text-align: center;
    padding: 6px 3%;
    text-decoration: none;
}
